<h2>List of ratings</h2>

<p>
  <%= link_to "Create a rating", ratings_new_path %>
</p>
<p>
  Number of ratings: <%= @ratings.count %>
</p>

<ul>
    <% @ratings.each do |rating| %>
        <li> <%= "#{rating.beer.name} #{rating.score}" %> </li>
    <% end %>
</ul>