<h2>List of ratings</h2>

<p>
  <%= link_to "Create a rating", new_rating_path %>
</p>
<p>
  Number of ratings: <%= @ratings.count %>
</p>

<ul>
    <% @ratings.each do |rating| %>
        <li>
          <%= rating.to_s %>
          <%= button_to "Delete", rating_path(rating.id), method: :delete, form: { data: { turbo_confirm: "Delete rating" } } %>
        </li>
    <% end %>
</ul>