<h2>List of ratings</h2>

<p>
  <%= link_to "Create a rating", new_rating_path %>
</p>
<p>
  Number of ratings: <%= @ratings.count %>
</p>

<ul>
  <% @ratings.each do |rating| %>
    <li>
      <%= rating.to_s %>
      <%= link_to rating.user.username, rating.user %>
    </li>
  <% end %>
</ul>
