<h1>Beer Styles</h1>
<table class="table table-striped table-hover">
  <% @styles.each do |style| %>
    <tr>
        <td><%= link_to style.name, style_path(style) %></td>
    </tr>
  <% end %>
</table>